@import "../Styles/variables.scss";

.App {
  background-color: $LM-LightGray;
  font-family: $font-stack;
  min-height: 100vh;
}

.AppDark {
  background-color: $DM-VeryDarkBlue;
  font-family: $font-stack;
  min-height: 100vh;
}
