@import "./variables.scss";

// .container_div {
//   @include for-desktop-up {
//     display: flex;
//   }
// }

.dm_btn {
  background-color: var(--background);
  color: var(--text-primary);
  border: none;
  border-radius: 5%;
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
    0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
    0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
    0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
    0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
    0px 0px 42px -7px rgba(0, 0, 0, 0.31);
}

.flag {
  max-height: 300px;
  max-width: 500px;
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
    0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
    0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
    0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
    0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
    0px 0px 42px -7px rgba(0, 0, 0, 0.31);

  .flag_img {
    max-height: 300px;
    max-width: 500px;

    @include for-tablet-mid {
      min-height: 300px;
      min-width: 500px;
    }
  }
}

.big_columns {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
  // max-width: 1200px;

  @include for-phone-only {
    margin-left: auto;
  }

  @include for-tablet-portrait-up {
    margin-left: 3em;
  }

  @include for-tablet-mid {
    margin-left: 3em;
  }

  @include for-desktop-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .country_info {
    background-color: white;
    color: var(--text-primary);
  }
  .country_info_dark {
    background-color: $DM-VeryDarkBlue;
    color: var(--text-primary);
    max-width: 525px;
    @include for-tablet-landscape-small {
    }
  }

  .info_column {
    max-width: 550px;
    @include for-tablet-mid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 3em;
    }

    @include for-desktop-up {
      padding-top: 0;
    }

    .left_column {
      max-width: 30em;
      min-width: 200px;

      @include for-tablet-mid {
        padding-top: 2m;
      }

      @include for-tablet-landscape-up {
        padding-top: 2m;
      }

      @include for-desktop-up {
        padding: 3em 3em 3em 1em;
      }

      .h2_name {
        padding-top: 2em;
        padding-bottom: 1em;

        @include for-tablet-mid {
          padding-top: 0;
        }
      }
    }

    .right_column {
      width: 200px;
      padding-top: 16px;

      @include for-tablet-mid {
        padding-top: 72px;
      }

      @include for-desktop-up {
        padding-top: 110px;
      }
    }
  }
}
.border_container {
  @include for-desktop-up {
    padding: 0 13em;
    display: flex;
    justify-content: end;
  }

  .borders_div {
    color: var(--text-primary);
    max-width: 30em;
    padding: 1em 1em 1em 0;
    margin: 0;

    @include for-tablet-portrait-up {
      padding: 3em;
    }

    @include for-desktop-up {
    }

    .boarder_country_btns_div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .boarders_btns {
        @extend .dm_btn;
        width: 100px;
      }
    }
  }
}
