.dm_btn, .border_container .borders_div .boarder_country_btns_div .boarders_btns {
  background-color: var(--background);
  color: var(--text-primary);
  border: none;
  border-radius: 5%;
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087), 0px 0px 2.8px -7px rgba(0, 0, 0, 0.125), 0px 0px 5.3px -7px rgba(0, 0, 0, 0.155), 0px 0px 9.4px -7px rgba(0, 0, 0, 0.185), 0px 0px 17.5px -7px rgba(0, 0, 0, 0.223), 0px 0px 42px -7px rgba(0, 0, 0, 0.31);
}

.flag {
  max-height: 300px;
  max-width: 500px;
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087), 0px 0px 2.8px -7px rgba(0, 0, 0, 0.125), 0px 0px 5.3px -7px rgba(0, 0, 0, 0.155), 0px 0px 9.4px -7px rgba(0, 0, 0, 0.185), 0px 0px 17.5px -7px rgba(0, 0, 0, 0.223), 0px 0px 42px -7px rgba(0, 0, 0, 0.31);
}
.flag .flag_img {
  max-height: 300px;
  max-width: 500px;
}
@media (min-width: 769px) {
  .flag .flag_img {
    min-height: 300px;
    min-width: 500px;
  }
}

.big_columns {
  display: flex;
  flex-direction: column;
  color: var(--text-primary);
}
@media (max-width: 599px) {
  .big_columns {
    margin-left: auto;
  }
}
@media (min-width: 600px) {
  .big_columns {
    margin-left: 3em;
  }
}
@media (min-width: 769px) {
  .big_columns {
    margin-left: 3em;
  }
}
@media (min-width: 1200px) {
  .big_columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.big_columns .country_info {
  background-color: white;
  color: var(--text-primary);
}
.big_columns .country_info_dark {
  background-color: hsl(207deg, 26%, 17%);
  color: var(--text-primary);
  max-width: 525px;
}
.big_columns .info_column {
  max-width: 550px;
}
@media (min-width: 769px) {
  .big_columns .info_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3em;
  }
}
@media (min-width: 1200px) {
  .big_columns .info_column {
    padding-top: 0;
  }
}
.big_columns .info_column .left_column {
  max-width: 30em;
  min-width: 200px;
}
@media (min-width: 769px) {
  .big_columns .info_column .left_column {
    padding-top: 2m;
  }
}
@media (min-width: 900px) {
  .big_columns .info_column .left_column {
    padding-top: 2m;
  }
}
@media (min-width: 1200px) {
  .big_columns .info_column .left_column {
    padding: 3em 3em 3em 1em;
  }
}
.big_columns .info_column .left_column .h2_name {
  padding-top: 2em;
  padding-bottom: 1em;
}
@media (min-width: 769px) {
  .big_columns .info_column .left_column .h2_name {
    padding-top: 0;
  }
}
.big_columns .info_column .right_column {
  width: 200px;
  padding-top: 16px;
}
@media (min-width: 769px) {
  .big_columns .info_column .right_column {
    padding-top: 72px;
  }
}
@media (min-width: 1200px) {
  .big_columns .info_column .right_column {
    padding-top: 110px;
  }
}

@media (min-width: 1200px) {
  .border_container {
    padding: 0 13em;
    display: flex;
    justify-content: end;
  }
}
.border_container .borders_div {
  color: var(--text-primary);
  max-width: 30em;
  padding: 1em 1em 1em 0;
  margin: 0;
}
@media (min-width: 600px) {
  .border_container .borders_div {
    padding: 3em;
  }
}
.border_container .borders_div .boarder_country_btns_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.border_container .borders_div .boarder_country_btns_div .boarders_btns {
  width: 100px;
}/*# sourceMappingURL=country.css.map */