@import "./variables.scss";
@import "bulma/css/bulma.css";

.header {
  background-color: $White;
  height: 8em;
  width: 100%;
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
    0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
    0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
    0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
    0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
    0px 0px 42px -7px rgba(0, 0, 0, 0.31);
}

// .header.dark {
//   background-color: $DM-DarkBlue;
// }

.title {
  color: $LM-VeryDarkBlue;
  @include for-tablet-portrait-up {
    margin-left: 2em;
  }
  @include for-desktop-up {
    margin-left: 4em;
  }
  @include for-big-desktop-up {
    margin-right: 6em;
  }
}

.darkBtn {
  border: none;
  @include for-tablet-portrait-up {
    margin-right: 3em;
  }
  @include for-desktop-up {
    margin-right: 6em;
  }
  @include for-big-desktop-up {
    margin-right: 9em;
  }
}
