@import "../Styles/variables.scss";

:root {
  --background: white;
  --text-primary: hsl(200, 15%, 8%);
}
[data-theme="Dark"] {
  --background: hsl(209, 23%, 22%);
  --text-primary: white;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}
