@import "./variables.scss";

.mainColumn {
  height: 24em;
  width: 20em;
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
    0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
    0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
    0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
    0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
    0px 0px 42px -7px rgba(0, 0, 0, 0.31);
}

.mainFont {
  font-weight: 600;
}

.search_bar {
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
    0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
    0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
    0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
    0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
    0px 0px 42px -7px rgba(0, 0, 0, 0.31);
}

.drop_down {
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
    0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
    0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
    0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
    0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
    0px 0px 42px -7px rgba(0, 0, 0, 0.31);
}
