@import "./variables.scss";

.mainFont {
  font-weight: 600;
}

.main_container {
  margin: 2em 2em 0 2em;
}

.search_div {
  @include for-phone-only {
  }

  .search_columns {
    justify-content: space-between;
    margin: 0;

    .search_bar {
      max-width: 400px;
      box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
        0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
        0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
        0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
        0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
        0px 0px 42px -7px rgba(0, 0, 0, 0.31);

      .input {
        background-color: var(--background);
        color: var(--text-primary);
        width: 100%;
        height: 50px;
        border: none;
      }
    }
  }
}

.dropdown_div {
  display: flex;
  justify-content: end;

  @include for-phone-only {
    justify-content: left;
  }

  @include for-tablet-portrait-up {
    justify-content: left;
  }

  @include for-tablet-mid {
    justify-content: end;
  }
}

#drop_down_btn {
  width: 15em;
  max-width: 200px;
  box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
    0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
    0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
    0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
    0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
    0px 0px 42px -7px rgba(0, 0, 0, 0.31);
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 15px;
  padding: 1.7em 0.5em;
  border: none;

  .drop_down_icon {
    height: 32px;
    width: 32px;
    padding: 5px;
  }
}

.dropdown-content {
  background-color: var(--background);
  width: 14em;

  .dropdown-item {
    color: var(--text-primary);
  }
}

.country_cards_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  @include for-tablet-landscape-small {
    justify-content: space-around;
  }

  .country_cards {
    background-color: var(--background);
    color: var(--text-primary);
    height: 27em;
    width: 22em;
    margin: 2em;
    box-shadow: 0px 0px 1.2px -7px rgba(0, 0, 0, 0.087),
      0px 0px 2.8px -7px rgba(0, 0, 0, 0.125),
      0px 0px 5.3px -7px rgba(0, 0, 0, 0.155),
      0px 0px 9.4px -7px rgba(0, 0, 0, 0.185),
      0px 0px 17.5px -7px rgba(0, 0, 0, 0.223),
      0px 0px 42px -7px rgba(0, 0, 0, 0.31);
  }
}
