$font-stack: "Nunito Sans", sans-serif;

// *---COLORS DARK_MODE----*
// Elements
$DM-DarkBlue: hsl(209, 23%, 22%);
// Background
$DM-VeryDarkBlue: hsl(207, 26%, 17%);
// Dark Mode Text & Light Mode Elements
$White: hsl(0, 0%, 100%);

// *---COLORS LIGHT_MODE----*
//  Text
$LM-VeryDarkBlue: hsl(200, 15%, 8%);
//  Background
$LM-LightGray: hsl(0, 0%, 98%);

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-mid {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin for-tablet-landscape-small {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-mid-desktop-up {
  @media (min-width: 1568px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
